.Footer {
  background-color: #e6e6e6;
  padding-top: 40px;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 25px 30px;
  width: 100%;
}
/* Footer menu */
.footer-menu {
  display: flex;
  justify-content: space-evenly;
  width: 68%;
  cursor: pointer;
  padding: 20px 0 40px 0;
}
.footer-menu a {
  text-decoration: none;
  color: black;
}
.footersubs {
  width: 100%;
  justify-content: center;
  display: flex;
}
/* Footer Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: rgb(146, 143, 143) 1px solid;
  margin-top: 20px;
  padding: 10px 20px;
}
.PayStack-icon img {
  height: 60px;
}

@media only screen and (max-width: 730px) {
  /* Footer menu */
  .footer-menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  /* Footer menu */
  .boxsubs {
    width: 90%;
  }
  /* Footer Bottom */
  .footer-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .PayStack-icon {
    width: 100%;
  }
  .PayStack-icon img {
    height: 70px;
  }
}
