body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  touch-action: pan-x pan-y;
  height: 100% 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiTypography-root {
  text-decoration: none !important;
  color: black;
}

.mantine-bsiqi3{
  z-index: 999999999 !important;
}